<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Music News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Scrape</a>
            <a class="nav-item nav-link" href="#">Saved</a>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Music News</h1>
    {{!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> --}}
    <hr class="my-4">
    {{!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> --}}
    {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
</div>

<div class="articles">
    <div class="load"></div>
    {{#each articles}}
    {{#unless saved}}
    <div class="article">
        <img src="{{image}}" style="height:150px;">
        <a href="{{link}}">
            <h1>{{title}}</h1>
        </a>
        <p>{{summary}}</p>
        <button type="button" class="btn btn-outline-warning" data-id="{{_id}}">SAVE</button>
        <br>
        <br>
    </div>
    {{/unless}}
    {{/each}}
</div>